.icon-sm {
    font-size: 2rem;
}
.icon-lg{
    font-size: 9rem;
}
.avatar-lg {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
}
.avatar-sm {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
}
.icon-md {
    font-size: 3.5rem;
}
